{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow-lg" style="max-width: 500px; width: 100%;">
        <div class="card-body text-center">
            <h2 class="card-title mb-3">Contraseña restablecida con éxito</h2>
            <p class="card-text">Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <a href="{% url 'login' %}" class="btn btn-success mt-3">Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock %}
