{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow-lg" style="max-width: 500px; width: 100%;">
        <div class="card-body">
            <h2 class="card-title text-center mb-3">Restablecer Contraseña</h2>
            <p class="text-center mb-4">
                Introduce tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.
            </p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Enviar correo de recuperación</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
