{% extends 'base.html' %}

{% block title %}Crear Planta{% endblock %}

{% block content %}
    <h1>Crear Planta</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="plant_name">Nombre:</label>
        <input type="text" id="plant_name" name="name">

        <label for="care">Cuidados:</label>
        <input type="file" id="care" name="care">

        <label for="price">Precio:</label>
        <input type="file" id="price" name="price">

        <label for="category_id">Categoría:</label>
        <select id="category_id" name="category">
            {% for categoria in categorias %}
                <option value="{{ category_id }}">{{ categoria.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Crear Planta</button>
    </form>
{% endblock %}
