{% extends 'base.html' %}

{% block title %}Agregar{% endblock %}

{% load static %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-120 px-3">
    <div class="card shadow-lg bg-white rounded-4 p-5 m-4 col-lg-6 col-md-8 col-sm-12" style="background-color:#f5f5dc;">
        <h2 class="text-center fw-bold mt-2 mb-4" style="color: #b58863;">Agregar Planta</h2>
        <hr class="border-1 opacity-75 mt-1">

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="plant_name" class="form-label">Nombre de la planta:</label>
                <input type="text" id="plant_name" name="plant_name" class="form-control" required style="border-color: rgb(255,179,71);">
            </div>

            <div class="mb-3">
                <label for="care" class="form-label">Recomendaciones de Cuidados:</label>
                <textarea id="care" name="care" class="form-control" rows="3" required style="border-color: rgb(255,179,71);"></textarea>
            </div>

            <div class="mb-3">
                <label for="id_price" class="form-label">Precio:</label>
                <input type="number" id="id_price" name="price" step="0.01" class="form-control" required style="border-color: rgb(255,179,71);">
            </div>

            <div class="mb-3">
                <label for="stock" class="form-label">Cantidad:</label>
                <input type="number" id="stock" name="stock" class="form-control" required style="border-color: rgb(255,179,71);">
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Categoría:</label>
                <div class="dropdown w-100">
                    <button type="button" class="btn dropdown-toggle w-100 text-start" style="background-color: rgb(255,179,71);" data-bs-toggle="dropdown" aria-expanded="false">
                        Selecciona una categoría
                    </button>
                    <ul class="dropdown-menu w-100">
                        {% for categoria in categories %}
                        <li>
                            <a class="dropdown-item" onclick="selectCategory('{{ categoria.category_id }}', '{{ categoria.category }}')">
                                {{ categoria.category }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <input type="hidden" name="category" id="selectedCategory">
            </div>

            <script>
                function selectCategory(id, name) {
                    document.querySelector('.dropdown button').textContent = name;
                    document.getElementById('selectedCategory').value = id;
                }
            </script>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn shadow w-auto px-5 mt-3" style="background-color: rgb(107, 142, 35); color: white;">Agregar</button>
                <a href="{% url 'plantas' %}" class="btn shadow w-auto px-5 mt-3 ms-3" style="background-color: rgb(199, 86, 86); color: white;">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
