{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}

<!--Carga instruccion bloque js-->
{% load static %}

{% block content %}
<!-- Bootstrap JS (necesario para dropdowns) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 px-3" >
    <div class="card shadow-lg bg-white rounded-4 p-4 m-4 col-lg-9 col-md-10 col-sm-12" style="background-color:#f5f5dc;">
        <h2 class="text-center fw-bold mt-2 mb-4" style="color: #b58863;">Gestión de Inventario</h2>
        <hr class="border-1 opacity-75 mt-1">
        
        <!-- Notificaciones -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        
        <!-- Filtros -->
        <div class="row mb-3 align-items-center">
            <div class="col-md-6">
                <form method="GET" action="{% url 'buscarPlanta' %}">
                    <input type="text" class="form-control" style="border-color: rgb(255,179,71);"  name="buscarPlanta"
                        placeholder="Buscar plantas..." value="{{ query|default:'' }}">
                </form>
            </div>
            
            <div class="col-md-4">
                <div class="dropdown w-100">
                    <button type="button" class="btn dropdown-toggle w-100 text-start" 
                            style="background-color: rgb(255,179,71);" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false" 
                            id="categoryDropdown">
                        {% if categoria %}
                            {{ categoria.category }}
                        {% else %}
                            Selecciona una categoría
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu w-100">
                        <li>
                            <a class="dropdown-item" href="{% url 'plantas' %}">Todas las categorías</a>
                        </li>
                        {% for categoria_item in categories %}
                        <li>
                            <a class="dropdown-item" href="{% url 'plantasPorCategoria' categoria_item.category_id %}">
                                {{ categoria_item.category }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>            

            <!-- Botón para abrir el popup -->
            <div class="text-end me-3">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    Subir Archivo
                </button>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModalLabel">Subir Archivo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'subir_excel' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="file" name="file" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-warning">Subir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 text-end">
                <a href="{% url 'crearPlanta' %}" class="btn fw-bold shadow" style="background-color: rgb(255,179,71);"> Agregar </a>
            </div>
        </div>

        <!-- Tabla de Plantas -->
        <div class="table-responsive" style="background-color:#f5f5dc;">
            <table class="table table-bordered table-hover rounded-3 overflow-hidden">
                <thead class="text-white" style="background-color: rgb(107, 142, 35);">
                    <tr>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Recomendaciones de cuidados</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for planta in plants %}
                        <tr>
                            <td class="align-middle">{{ planta.category_id}}</td>
                            <td class="align-middle">{{ planta.plant_name}}</td>
                            <td class="align-middle">{{ planta.care }}</td>
                            <td class="align-middle">${{ planta.price }}</td>
                            <td class="align-middle">{{ planta.stock }}</td>
                            <td class="text-center align-middle">
                                <a href="{% url 'editarPlanta' planta.plant_id %}" class="btn btn-sm fw-bold shadow-sm mb-3" style="background-color: #b58863; color: white;">Editar</a>
                                <a href="{% url 'eliminarPlanta' planta.plant_id %}" class="btn btn-sm fw-bold shadow-sm" style="background-color: #b58863; color: white;">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
